# ITIA 2376 - Final Project Envrionment Configuration

# Backbone LLM API Key (Groq Llama-3.3-70B)
GROQ_API_KEY=

# ERCOT GridStatus API Key
GRIDSTATUS_API_KEY=

# Open-Meteo API does not require a key.
